[submodule "DarwinNotificationConsumer"]
	path = DarwinNotificationConsumer
	url = ../DarwinNotificationConsumer
[submodule "DarwinNotificationProducer"]
	path = DarwinNotificationProducer
	url = ../DarwinNotificationProducer
